---
import { getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

// Get the main series page
const allPosts = await getCollection('blog');

const mainPost = allPosts.find(
  (post) => post.slug === 'training-the-mind/training-the-mind'
);

// Get child posts
const childPosts = allPosts.filter((post) =>
  post.slug.startsWith('training-the-mind/') &&
  post.slug !== 'training-the-mind/training-the-mind'
);

// Sort them
childPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const { Content } = await mainPost.render();
---

<BlogPost {...mainPost.data}>
  <Content />

  <h2>Other posts in this series:</h2>
  <ul>
    {childPosts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BlogPost>