---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <div class="header-inner">
    <img src="/assets/MTG_colour.png" alt="Mind the Gael logo" />
    <nav class="nav-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/resources">Support Resources</HeaderLink>
      <HeaderLink href="/meet-the-team">Meet the Team</HeaderLink>
      <HeaderLink href="/contact-us">Contact Us</HeaderLink>
    </nav>
      <!-- <img src="/assets/logo-splashes.png" alt="Purple Splashes" class="header-splashes" aria-hidden="true" /> -->
  </div>
</header>
<style>
  .header-inner {
    position: relative;
  }
  .header-splashes {
    position: absolute;
    top: 0;
    right: -60px;
    width: 120px;
    height: auto;
    z-index: 0;
    pointer-events: none;
    user-select: none;
  }
    </style>
