---
import HeaderLink from './HeaderLink.astro';
import logo from '../assets/MindtheGaelLogo2.jpg';
---

<header>
  <div class="header-inner">
    <img src={logo.src} alt="Mind the Gael logo" />

    <nav class="nav-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/resources">Support Resources</HeaderLink>
      <HeaderLink href="/contact-us">Contact Us</HeaderLink>
    </nav>
  </div>
</header>


